.counter {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0, .2);
    background-color: #e6e6e6;
    text-align: center;
    line-height: 100px;
    font-size: 34px;
    margin: 0 auto;
}

.errorCounter {
    font-size: 40px;
    color: red;
    font-weight: 700;
}