.button {
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    cursor: pointer;
    background-color: #4141d5;
    color: white;
    font-weight: 600;
}

.disabled {
    background-color: #4c9cee;
    color: #6B7A8F;
}

.button:active {
    background-color: #272779;
}
